{% extends "base_front.html" %}

{% load account_tags %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{% trans "Log in" %}{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-6 col-centered">
    <form method="POST" action="{% url "account_login" %}" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
        <p>
          <a href="/">&laquo; Back</a>
        </p>
        <legend>Log in to an existing account</legend>
        {% csrf_token %}
        {% bootstrap_form form  %}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit" class="btn btn-primary">{% trans "Log in" %}</button>
        <a href="{% url "account_password_reset" %}" class="btn btn-link">{% trans "Forgot your password?" %}</a>
    </form>
    {% if ACCOUNT_OPEN_SIGNUP %}
        <p class="login-signup">
            <small>
                {% trans "Don't have an account?" %}  <strong><a href="{% urlnext 'account_signup' %}">{% trans "Sign up" %}</a></strong>
            </small>
        </p>
    {% endif %}
    <p>
      <a class="btn btn-default"href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Log in with your Google account</a>
    </p>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('#id_username').focus();
    });
</script>

{% endblock %}
