{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap3%}

{% block content_class %}account account-settings{% endblock %}

{% block title %}{% trans "Account" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-5">
            <form method="POST" action="{% url "account_settings" %}">
                <legend>{% trans "Account" %}</legend>
                {% csrf_token %}
                {% bootstrap_form form %}
                <button class="btn btn-primary" type="submit">{% trans "Save" %}</button>
            </form>
        </div>
    </div>
{% endblock %}
