{% extends "blog/base_blog.html" %}

{% block title %}
{{ blog.collection.name }} - {{ first_item.title }}
{% endblock %}

{% block content %}

{% for item in items %}

<h1><a href="/blogs/{{blog.slug}}/">&laquo;</a> {{item.title}}</h1>

<div class="blog-item-subheading">
    Published {{ item.created_at | date }} on <a href="/blogs/{{blog.slug}}/">{{blog.collection.name}}</a>.
</div>

<hr class="blog">

<div class="blog-item-content">
    {% autoescape off %}
    {{ item.get_rendered_content }}
    {% endautoescape %}
</div>

<div class="well blog-about">
    <p style="font-weight: bold;">About this blog</p>
    {% autoescape off %}
    <p>{{ blog.get_rendered_sidebar }}</p>
    {% endautoescape %}
</div>

{% endfor %}

{% endblock %}
