{% extends "blog/base_blog.html" %}

{% block title %}
{{ blog.collection.name }}
{% endblock %}

{% block content %}
<h1>{{blog.collection.name}}</h1>

<hr class="blog">

{% for item in items %}
    <div class="blog-post-in-list">
        <span class="blog-post-date">
            {{ item.created_at | date }}
        </span>

        <span class="blog-post-title">
            <a href="/blogs/{{blog.slug}}/{{item.get_url_fragment}}">{{item.title}}</a>
        </span>

    </div>
{% endfor %}

<div class="well blog-about">
    <p style="font-weight: bold;">About this blog</p>
    {% autoescape off %}
    <p>{{ blog.get_rendered_sidebar }}</p>
    {% endautoescape %}
</div>

{% endblock %}
