<div class="app-breadcrumbs">
    <ol class="breadcrumb">
        <li><a href="/app/" onclick="return App.click(this);">All Journals</a></li>
        <li><a href="/app/journal/<%= collection.id %>/" onclick="return App.click(this);"><%- collection.name %></a></li>
        <li class="active">Edit</li>
    </ol>
</div>

<div class="app-error" style="display: none;" id="appError">
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">Error</h3>
        </div>
        <div id="appErrorBody" class="panel-body">
        </div>
    </div>
</div>

<form autocomplete="off">
    <div class="form-group">
        <label>Name</label>
        <input name="journalName" type="text" class="form-control" id="journalName" placeholder="Enter journal name"
         value="<%- collection.name %>">
    </div>

    <div class="checkbox">
        <label>
            <input type="checkbox" id="journalBlogged"
            <% if (collection.blogged) { %>
              checked
            <% } %>
            > Public blog
        </label>
    </div>

    <div id="journalBlog"
      <% if (!collection.blogged) { %>
        class="hide"
      <% } %>
    >
      <div class="form-group">
          <label>Slug</label>
          <input name="journalBlogSlug" type="text" class="form-control" id="journalBlogSlug" placeholder="Enter slug"
          <% if (collection.blog) { %>
            value="<%- collection.blog.slug %>"
          <% } %>
          >
      </div>
      <div class="form-group">
          <label>Blog Description (Markdown)</label>
          <textarea name="journalBlogDesc" type="" class="form-control" id="journalBlogDesc" ><% if (collection.blog) { %><%- collection.blog.description %><% } %></textarea>
      </div>
    </div>

    <div class="app-toolbar">
        <button class="btn btn-primary" id="saveJournal">Save</button>
        <a href="/app/" class="btn btn-default" onclick="return App.click(this);">Cancel</a>
    </div>
</form>
