<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="/favicon.ico">

        <title>LaserNotes</title>

        <!-- Bootstrap core CSS -->
        <link href="/static/css/app_0001.css" rel="stylesheet">
        <script src="/static/js/libs_0001.js"></script>

        {% block extrahead %}
        {% endblock %}
    </head>
    <body>

    <div class="container front-page-content">
        {% block content %}
        {% endblock %}
    </div>


      <div class="container text-center">
          <p style="padding-top: 50px;" class="center-block">
              LaserNotes, &copy; <a href="https://kpartite.com">k-partite LLC</a>
          </p>
      </div>
    </body>
</html>
